.footer__block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 160px;
  margin-top: 100px;
  @media (max-width: $phone) {
    flex-direction: column;
    gap: 30px;
  }
}

.footer__navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  @media (max-width: $phone) {
    // margin: 0;
    // justify-content: center;
  }
}

.footer__title {
  color: #252525;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.navbar__info {
  color: #252525;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.social__icon {
  width: 19px;
  height: 19px;
}