.category__block {
  margin-top: 100px;
  @include dis-c;
  flex-direction: column;
}

.category__headline {
  color: #252525;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  width: 1130px;
  @media (max-width: $phone) {
    font-size: 24px;
    width: 345px;
  }
}

.category__boxes {
  margin-top: 50px;
  @include dis-c;
  gap: 15px;
}

.category__1 {
  background-image: url(../../image/Rectangle\ 1.png);
  width: 273.75px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  .category__name {
    @include dis-c;
    color: #FFF;
    width: 273.75px;
    height: 40px;
    text-align: center;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
    @media (max-width: $phone) {
      font-size: 18px;
    }
  }
  @media (max-width: $phone) {
    width: 165px;
    height: 230px;
  }
}

.category__2 {
  background-image: url(../../image/second.png);
  width: 273.75px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  .category__name {
    @include dis-c;
    color: #FFF;
    width: 273.75px;
    height: 40px;
    text-align: center;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
    @media (max-width: $phone) {
      font-size: 18px;
    }
  }
  @media (max-width: $phone) {
    width: 165px;
    height: 230px;
  }
}

.category__3 {
  background-image: url(../../image/third.png);
  width: 273.75px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  .category__name {
    @include dis-c;
    color: #FFF;
    width: 273.75px;
    height: 40px;
    text-align: center;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
  }
  @media (max-width: $phone) {
    display: none;
  }
}

.category__4 {
  background-image: url(../../image/fourth.png);
  width: 273.75px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  .category__name {
    @include dis-c;
    color: #FFF;
    width: 273.75px;
    height: 40px;
    text-align: center;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
  }
  @media (max-width: $phone) {
    display: none;
  }
}