.header__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left {
  background-image: url(../../image/left.png);
  width: 480px;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $phone) {
    display: none;
  }
}

.left__navbar {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 25px;
    li {
      a {
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}

.header__center {
  background-image: url(../../image/center.png);
  width: 480px;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 25px;
  .headline__ver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    @media (max-width: $phone) {
      padding-bottom: 200px;
    }
    }
    .hamburger {
      display: none;
      @media (max-width: $phone) {
        display: inline;
      }
    }
    @media (max-width: $phone) {
      background-image: url(../../image/header-center-375\ \(1\).png);
      height: 667px;
    }
  }
  h1 {
    padding-bottom: 320px;
    @media (max-width: $phone) {
      padding-bottom: 0px;
    }
    a {
      .main__logo {
        @media (max-width: $phone) {
          display: none;
        }
      }
      .verstka__logo {
        display: none;
        @media (max-width: $phone) {
          display: block;
        }
      }
    }
  }
  

.phone__navbar {
  display: none;
  @media (max-width: $phone) {
    display: flex;
    ul {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

.line {
  width: 120px;
  height: 1px;
  background: #FFF;
}

.header__right {
  background-image: url(../../image/right.png);
  width: 480px;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $phone) {
    display: none;
  }
}

.collec {
  color: #FFF;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @media (max-width: $phone) {
    font-size: 32px;
    width: 260px;
  }
}

.collec__info {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}